.buy-now-button{
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}
.container li.active{
    
    background-color: yellow;
    height: 10px;
    width: 35px;
    border-radius: 12px;
}
.container li{
    
    background-color:gray;
    height: 10px;
    width: 15px;
    border-radius: 15px;
}
#see-all{
    color: orange;
}